HF_USER=vlai
HF_TOKEN=hf_
WANDB_API_KEY=3abc
WANDB_PROJECT=VQA-Template
WANDB_LOG_MODEL=false
WANDB_WATCH=false
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=vqa-features
MINIO_SECURE=False